@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

*{
  font-family: "Source Code Pro", monospace;
}

.App {
  text-align: center;
}

.appNavbar{
  background-color: #0A1128;
}

img{
  min-height:100%;
}

.cardForm{
  width: 30rem;
}

.ctaBtn, .submitBtn {
  background-color: #001F54!important;
  border:none !important;
}

.cardHeader{
  background-color: #001F54!important;
  color: #FEFCFB!important;
}

